@import "tailwindcss";

@layer base{
    :root{
        --primary: #0080ff;
    }
}

@layer utilities{
    .bg-primary{
        background-color: var(--primary);
    }

    .text-primary{
        color: var(--primary);
    }
    .from-primary{
        --tw-gradient-from:var(--primary);
    }
    .to-primary{
        --tw-gradient-to:var(--primary);
    }
    .via-primary{
        --tw-gradient-via:var(--primary);
    }
}



/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #0f172a; /* dark background */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #289eff, #06b6d4);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #1d8cff, #0891b2);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #289eff #0f172a;
}